html,body,.playerbox,.locationbox,.enemybox{
    display:flex;
    margin:auto;
    width:100%;
    flex-wrap: nowrap;
}

.playerbox{
    width:33,3%;
    background-color: aqua;
}

.locationbox{
    width:33,3%;
    background-color: chartreuse;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5.8% 5%;
    border: 1px solid black;
}

.enemybox{
    width:33,3%;
    background-color: crimson;
}

.player{
    display: flex;
    padding-top: 5%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.herohpcontainer{
    width: 49%;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 0.2%;
}

.heromanacontainer{
    flex-wrap: wrap;
    width: 49%;
    display: flex;
    margin-left: 2%;
    margin-bottom: 0.2%;
}

.herodivHpSvg{
    width: 99%;
    display: flex;
}

.herodivManaSvg{
    width: 99%;
    display: flex;
}

.herohpsvg{
    max-height: 10px;
    border: 1px solid black;
}

.heromanasvg{
    max-height: 10px;
    border: 1px solid black;
}

.HeroNameStory{
    width: 24.5%;
    text-align: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.imgplayer{
    width: 50%;
    max-height: 700px;
    border: 1px solid black;
}

.GoldCoordExpLvl{
    width: 24.5%;
    text-align: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.HeroStatsMain{
    width: 20%;
    padding-left: 1%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.HeroStatsSecond{
    width: 15%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.HeroStatsThird{
    width: 15%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.HeroStatsFourth{
    width: 15%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.action{
    display: flex;
    max-width: 14%;
    padding: 1%;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.walking{
    width: 85%;
    height: 25%;
}

.fight{
    width: 85%;
    height: 25%;
}

.speak{
    width: 85%;
    height: 25%;
}

.equip{
    display: flex;
    max-width: 14%;
    padding: 1%;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.equip1{
    width: 85%;
    height: 25%;
}

.equip2{
    width: 85%;
    height: 25%;
}

.equip3{
    width: 85%;
    height: 25%;
}

.storyloc{
    width: 99%;
    text-align: center;
    font-size: 150%;
    padding-top: 5%;
}

.imgloc{
    width: 80%;
    min-height: 500px;
}

.enemy{
    display: flex;
    padding-top: 5%;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 25.5%;
}

.enemyhpcontainer{
    width: 49%;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 0.2%;
}

.enemymanacontainer{
    flex-wrap: wrap;
    width: 49%;
    display: flex;
    margin-left: 2%;
    margin-bottom: 0.2%;
}

.enemydivHpSvg{
    width: 99%;
    display: flex;
}

.enemydivManaSvg{
    width: 99%;
    display: flex;
}

.enemyhpsvg{
    max-height: 10px;
    border: 1px solid black;
}

.enemymanasvg{
    max-height: 10px;
    border: 1px solid black;
}

.EnemyNameStoryLvl{
    width: 28.5%;
    text-align: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.imgenemy{
    width: 50%;
    max-height: 700px;
    min-width: 70%;
    border: 1px solid black;
}

.log{
    display: flex;
    width: 30%;
    background-color: darkgray;
}